In [20]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))
python_123=100
type(python_123)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

int

In [26]:
a=7
b=5
print(type(a//b))
print(a**b)
print(type(a/b))

<class 'int'>
16807
<class 'float'>

In [28]:
a='tanish'
b=6
print(a*b)

tanishtanishtanishtanishtanishtanish

In [32]:
print(ord('A'))
print(ord(' '))
print(chr(32))

65
32

# Assignment Operator

In [2]:
marks= int(input("enter your mark : "))
result='pass' if marks>35  else 'fail'
print(result)

pass

In [10]:
name=input("enter your name : ")
type(input())

str

In [15]:
a=eval(input("enter a number : "))
type(a)

int

In [18]:
print('the sum of two numbers is : ',int(input("enter the value of a : "))+int(input("enter the value of b : ")))

the sum of two numbers is :  20

In [27]:
a,b,c=10,20,30
print(a,b,c)
print(a,b,c,sep='/')
print(a,end='')
print(b,end='')
print(c)
print("the value of a is : {}\nthe value of b is : {}\nthe value of c is : {}".format(a,b,c))
print()
print("the value of a is : {2}\nthe value of b is : {1}\nthe value of c is : {0}".format(a,b,c))
print()
print("the value of a is : {z}\nthe value of b is : {y}\nthe value of c is : {x}".format(x=a,y=b,z=c))
print()
print(f"the value of a is : {a}\nthe value of b is : {b}\nthe value of c is : {c}")

10 20 30
10/20/30
102030
the value of a is : 10
the value of b is : 20
the value of c is : 30

the value of a is : 30
the value of b is : 20
the value of c is : 10

the value of a is : 30
the value of b is : 20
the value of c is : 10

the value of a is : 10
the value of b is : 20
the value of c is : 30

# Multiline Comment

In [29]:
'''dfjfvgdbfjhvb dfhcvbdhcjhjdsdchdjiufvfeiduvfc hcufhvffvcfbvbieubvn jvnmdx'''

'dfjfvgdbfjhvb dfhcvbdhcjhjdsdchdjiufvfeiduvfc hcufhvffvcfbvbieubvn jvnmdx'

# Binary Storage

In [30]:
a=0b1010
print(a)

10


# Octal Storage

In [31]:
b=0o3501
print(b)

1857

# Hexa Storage

In [32]:
c=0xface
print(c)

64206

# Q1 : wap to fing area and surcamp france of a circle created by the apexes of a triangle which is equilitral having 5 cm size.

In [35]:
import math
side=int(input("enter side of triangle to get area of circle : "))
ac=side
bc=side/2
bd=math.sqrt((ac**2)-(bc**2))
radius=(bd/3)*2
d=radius*2
print("surcamp france of circle : ",math.pi*radius*2)
print(f'area of circle : {math.pi*(radius**2):0.2f}')

surcamp france of circle :  18.13799364234218
area of circle : 26.18

# Q2 : wap to convert the given days into year month and days.

In [38]:
day=int(input("enter days : "))
year=int(day/365)
print(year)
month=int((day-(year*365))/30)
print(month)
days=int(day-((year*365)+(month*30)))
print(days)
#OR
print(day//365,"years",(day%365)//30,"month",day%365%30,"days")

0
2
1
0 years 2 month 1 days

# Q3 : wap to find total no of currency notes use to purchase a product of x amount

In [44]:
amount=int(input("enter amount : "))
_500=amount//500
_200=(amount%500)//200
_100=(amount%500%200)//100
_50=(amount%500%200%100)//50
_20=(amount%500%200%100%50)//20
_10=(amount%500%200%100%50%20)//10
print(_500+_200+_100+_50+_20+_10)

# OR

_500=amount//500
_500+=(amount%500)//200
_500+=(amount%500%200)//100
_500+=(amount%500%200%100)//50
_500+=(amount%500%200%100%50)//20
_500+=(amount%500%200%100%50%20)//10
print(_500)

# OR

_500=amount//500
print(_500)
_500=(amount%500)//200
print(_500)
_500=(amount%500%200)//100
print(_500)
_500=(amount%500%200%100)//50
print(_500)
_500=(amount%500%200%100%50)//20
print(_500)
_500=(amount%500%200%100%50%20)//10
print(_500)

3
3
2
1
0
0
0
0

# Conditional Statement

In [46]:
if 10>20 :
    print('True')
else :
    print('False')
print('hi')

False
hi

# Q4 : wap to find a electricity bill of a household for the following

In [48]:
units=int(input("enter units : "))
if units<=100 :
    print("your bill is zero.")
elif units>100 and units<=200 :
    print("your bill is : ",(units-100)*5)
elif units>200 :
    print("your bill is : ",500+((units-200)*10))

your bill is :  1500

# Q5 :  find the total package offer by  a company to an employee basis criteriaalso calculate  the CGPA of the student.

In [49]:
a=int(input("enter the marks of subject - 1 : "))
b=int(input("enter the marks of subject - 2 : "))
c=int(input("enter the marks of subject - 3 : "))
CGPA=(a+b+c)/30
basis=0
salary=0
print(f"CGPA : {CGPA:0.2f}")
if CGPA>8.5 :
    basis=25000
    salary=basis+(basis*0.1)+(basis*0.07)+(basis*0.05)
elif CGPA>7.1 and CGPA<8.5 :
    basis=15000
    salary=basis+(basis*0.1)+(basis*0.07)+(basis*0.05)
elif CGPA>5.5 and CGPA<7.0 :
    basis=7000
    salary=basis+(basis*0.1)+(basis*0.05)+(basis*0.05)
else :
    basis=5000
    salary=basis+(basis*0.1)+(basis*0.05)+(basis*0.05)
print("package : ",basis)
print("CTC : ",salary)

CGPA : 6.67
package :  7000
CTC :  8400.0

# Q6 : wap to find wether the entered year is leap year or not.

In [52]:
year=int(input("enter year : "))
if (year%4==0 and year%100!=0) or (year%400==0) :
    print("entered year is leap year.")
else :
    print("entered year is not leap year.")

entered year is not leap year.

# Q7 : wap to find the next day of any user defined day

In [56]:
year=int(input("enter year : "))
month=int(input("enter month : "))
day=int(input("enter day : "))
b=True
if (month==2) and ((year%4==0 and year%100!=0) or (year%400==0)) :
    if day>=1 and day<=29 :
        if day==29 :
            month+=1
            day=1
        else :
            day+=1
    else :
        print("invalid days")
        b=False
else :
    if month==12 :
        if day>=1 and day<=31 :
            if day==31 :
                year+=1
                month=1
                day=1
            else :
                day+=1
        else :
            print("invalid days")
            b=False
    elif (month==1 or month==3 or month==5 or month==7 or month==8 or month==10) :
        if day>=1 and day<=31 :
            if day==31 :
                month+=1
                day=1
            else :
                day+=1
        else :
            print("invalid days")
            b=False
    elif (month==2 or month==4 or month==6 or month==9 or month==11) :
        if day>=1 and day<=30 :
            if day==30 :
                month+=1
                day=1
            else :
                day+=1
        else :
            print("invalid days")
            b=False
    else :
        print("invalid days")
        b=False
if b==True :
    print(day,"/",month,"/",year)

1 / 3 / 2004