# Chapter-3 Functions and Scoping

In [92]:
def add(a,b) :
    return (a,b)

In [93]:
d,e=add(3,5)
print(d,e)

3 5

In [94]:
def sub(*args) :
    count=0
    for i in args : 
        count+=i
    return count

In [96]:
s=sub(2,3,4,5,6,7,8,9,1,10)
print(s)

55

# wap to create a function to fetch nth value of a sequence where the sequence has 1,1,1,1,4,7,13

In [110]:
def sum(num) : 
    a,b,c,d=1,1,1,1
    ans=0
    for i in range(1,num+1) :
        if i<=4 : 
            ans=1
        else :
            ans=a+b+c+d
            a=b
            b=c
            c=d
            d=ans
    return ans

In [112]:
sum(4)

1

# Pattern

In [119]:
for i in range(0,4) :
    for j in range(i+1) :
        print('*',end=" ")
    print()
    
for i in range(1,4+1) :
    for j in range(i) :
        print('*',end=" ")
    print()

*
* *
* * *
* * * *

In [1]:
for i in range(4) :
    for j in range(i,4) :
        print(' ',end=" ")
    for k in range(i+1) :
        print('*',end=" ")
    print()

for i in range(4) :
    for j in range(i,4) :
        print('*',end=" ")
    for k in range(i+1) :
        print(' ',end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * *
* * *
* *
*

# Write a Python program to create a function to create patterns.
# 1. Numbers
# 2. Continuous Characters
# 3. Character Triangle
# 4. Triangle
# 5. Star diamond

In [6]:
#1.
count=0
for i in range(0,5) :
    for j in range(i+1) :
        count+=1
        print(count,end=" ")
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [14]:
#2.
count=64
for i in range(0,5) :
    for j in range(i+1) :
        count+=1
        print(chr(count),end=" ")
    print()

A
B C
D E F
G H I J
K L M N O

In [15]:
#3.
count=64
for i in range(0,5) :
    count+=1
    for j in range(i+1) :   
        print(chr(count),end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

In [26]:
#4.
for i in range(5) :
    for j in range(i,5) :
        print(' ',end="")
    for k in range(i+1) :
        print('*',end="")
    for l in range(1,i+1) :
        print("*",end="")
    print()

     *
    **
   ****
  ******
 ********

In [1]:
#5.
n=int(input("enter a number : "))
for i in range(1,n) :
    for j in range(0,i) :
        print('*',end=" ")
    for j in range(n,i,-1) :
        print(' ',end=" ")
    for j in range(n,i+1,-1) :
        print(' ',end=" ")
    for j in range(0,i) :
        print('*',end=" ")
    print()
print((n*2-1)*"* ")
for i in range(1,n+1) :
    for j in range(n,i,-1) :
        print('*',end=" ")
    for j in range(1,i+1) :
        print(' ',end=" ")
    for j in range(1,i) :
        print(' ',end=" ")
    for j in range(n,i,-1) :
        print('*',end=" ")
    print()

*       *
* *   * *
* * * * *
* *   * *
*       *

In [ ]:

# Global Variables for Team 1
team1_name = ""
team1_matches = 0
team1_points = 0

# Global Variables for Team 2
team2_name = ""
team2_matches = 0
team2_points = 0

def add_teams(name1, name2):
    global team1_name, team2_name
    team1_name = name1
    team2_name = name2

def record_match(score1, score2):
    global team1_matches, team2_matches, team1_points, team2_points
    team1_matches += 1
    team2_matches += 1
    
    if score1 > score2:  # Team 1 wins
        team1_points += 3
    elif score2 > score1:  # Team 2 wins
        team2_points += 3
    else:  # Draw
        team1_points += 1
        team2_points += 1

def display_points_table():
    print("Updated Points Table:")
    print("Team\tMatches Played\tPoints")
    print(f"{team1_name}\t{team1_matches}\t\t{team1_points}")
    print(f"{team2_name}\t{team2_matches}\t\t{team2_points}")

def main():
    while True:
        team1 = input("Enter the name of Team 1 (or type 'exit' to stop): ")
        if team1.lower() == 'exit':
            break
        team2 = input("Enter the name of Team 2: ")
        score1 = int(input("Enter the score of Team 1: "))
        score2 = int(input("Enter the score of Team 2: "))
        
        add_teams(team1, team2)
        record_match(score1, score2)
        display_points_table()

    print("Final Points Table:")
    display_points_table()

if __name__ == "__main__":
    main()

Enter the name of Team 1 (or type 'exit' to stop): abc
Enter the name of Team 2: def
Enter the score of Team 1: 2
Enter the score of Team 2: 1
Updated Points Table:
Team	Matches Played	Points
abc	1		3
def	1		0